* {
    padding: 0;
    margin: 0;
    color: #FFFFF0;
    background-color: transparent;
    font-family: monospace;
}

html, body {
    background-color: #101010;
    height: 100%;
}

*::-webkit-scrollbar {
    width: 1em;
}
   
*::-webkit-scrollbar-track {
    background-color: #0A0A0A;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    outline: 0 solid #000;
}

header {
    background-color: #000;
    width: 100%;
    height: 28pt;
    left: 0;
    top: 0;
}

.header_links {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    padding-left: 6pt;
    float: left;
}

.header_account {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    padding-left: 6pt;
    float: right;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.header_link {
    padding: 1pt 1pt;
    font-size: 22pt;
}

.content {
    min-height: 100%;
}

footer {
    background-color: #0A0A0A;
    width: 100%;
    height: 10pt;
    float: bottom;
}

.border {
    border: solid #000 1pt;
}

.item {
    margin-bottom: 3pt;
    margin-top: 3pt;
    padding: 2pt;
}

.item .text {
    display: inline-block;
}

.item .text>p {
    margin-left: 4pt;
    margin-right: 4pt;
}

.item .text>a {
    margin-left: 4pt;
    margin-right: 4pt;
}

.item img {
    float: left;
    margin-right: 4pt;
}

.no_word_wrap {
    word-wrap: normal;
    white-space: nowrap;
}

.list {
    padding: 2pt;
    margin-left: 4pt;
    margin-right: 4pt;
}

span, ul li {
    color: #AAA;
    margin-left: 4pt;
    margin-right: 4pt;
    font-size: 9.5pt;
    font-weight: normal;
}

form {
    display: block;
    margin-left: 4pt;
    margin-right: 4pt;
    max-width: 300pt;
    border: 1px solid #000;
}

form * {
    display: block;
    width: 100%;
    outline: 0px solid transparent;
    box-shadow: none;
}

form input[type=text], form input[type=email], form input[type=password], form textarea {
    border: 0px solid #000;
    background-color: #000;
    resize: vertical;
}

form input[type=submit] {
    border: 0 solid #000;
    border-top: 1px solid #000;
}
form input[type=submit]:hover {
    color: #00F000;
}

.errorlist li {
    color: #F00000;
}

.red {
    color: #F00000;
}

.white {
    color: #FFFFF0;
}

