{% extends 'base.html' %}
{% block title %}Forum{% endblock %}
{% block content %}
    <div class="item">
        <div class="text">
            <h1>Forum sections</h1>
            {% if user.is_anonymous %}
            <a href="{% url 'login' %}">Login to create new section</a>
            {% else %}
            <a href="{% url 'section_create' %}">Create new section</a>
            {% endif %}
        </div>
    </div>
    <div class='list'>
        {% for section in sections %}
            <div class="item border">
                <div class="text">
                    <h3><a href="{% url 'section_details' section.pk %}">{{ section.title }}</a></h3>
                    <p><span></span>{{ section.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}