{% extends 'base.html' %}
{% block title %}{{ section.title }}{% endblock %}
{% block content %}
    <div class="item">
        <div class="text">
            <h1>{{ section.title }}</h1>
            <p>{{ section.description }}</p>
            {% if user.is_anonymous %}
                <a href="{% url 'login' %}">Login to create new thread</a>
            {% else %}
                <a href="{% url 'thread_create' section.pk %}">Create new thread</a>
            {% endif %}
        </div>
    </div>
    <div class="list">
        {% for thread in section.threads.all %}
            <div class="item border">
                <div class="text">
                    <div>
                        <a onclick="on_like('Thread', {{ thread.pk }})">[{{ thread.likers.count }}]</a>
                        <a href="{% url 'thread_details' section.pk thread.pk %}"> {{ thread.title }}</a>
                        {% if thread.is_closed %}
                            <span class="red">Closed</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}