{% extends 'base.html' %}
{% block title %}{{ thread.title }}{% endblock %}
{% block content %}
    <a href="{% url 'section_details' thread.section.pk %}">Back to {{ thread.section.title }}</a>
    <div class="item">
        <h1>{{ thread.title }}</h1>
    </div>
    <br>
    <div class="list">
        {% for post in thread.posts.all %}
            <div class="item border">
                <div class="text">
                    <p><img src="{{ post.author.avatar.url }}" width="100" height="100">{{ post.text }}</p>
                    {% if post.reply_to %}
                        <p class="no_word_wrap"><span>Reply to:</span><a href="{% url 'profile' post.author.pk %}">{{ post.reply_to.author.username }}</a></p>
                    {% endif %}
                    <p class="no_word_wrap"p><span>Author:</span><a href="{% url 'profile' post.author.pk %}">{{ post.author.username }}</a></p>
                    <p class="no_word_wrap"><span>Created:</span>{{ post.creation_datetime.date }}</p>
                    <p><a href="{% url 'postreply_create' thread.section.pk thread.pk post.pk %}"><span>Reply</span></a></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}