{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>{% block title %}Forum{% endblock %}</title>
</head>
<body>
    <header>
        <div class="header_links">
            <a class="link header_link" href="{% url 'index' %}">G</a>
        </div>
        <div class="header_account">
            {% if user.is_anonymous %}
                <a class="link header_link" href="{% url 'django_registration_register' %}?next={{request.path}}">register</a>
                <a class="link header_link" href="{% url 'login' %}?next={{request.path}}">login</a>
            {% else %}
                <a class="link header_link" href="{% url 'profile' user.pk %}">{{ user.username }}</a>
                <a class="link header_link" href="{% url 'logout' %}?next={{request.path}}">logout</a>
            {% endif %}
        </div>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <a href="https://github.com/e6000000000/forum">GitHub</a>
    </footer>

    {% block javascript %}{% endblock %}
</body>
</html>